<div class="d-flex justify-content-center">
  <div class="d-flex flex-column align-items-center m-1">
    <%= image_tag 'fruit01.webp', class: 'img-fluid', style: 'width: 50px;' %>
    <p>1てん</p>
  </div>
  <div class="d-flex flex-column align-items-center m-1">
    <%= image_tag 'fruit02.webp', class: 'img-fluid', style: 'width: 50px;' %>
    <p>2てん</p>
  </div>
  <div class="d-flex flex-column align-items-center m-1">
    <%= image_tag 'fruit03.webp', class: 'img-fluid', style: 'width: 50px;' %>
    <p>3てん</p>
  </div>
  <div class="d-flex flex-column align-items-center m-1">
    <%= image_tag 'fruit04.webp', class: 'img-fluid', style: 'width: 50px;' %>
    <p>4てん</p>
  </div>
  <div class="d-flex flex-column align-items-center m-1">
    <%= image_tag 'fruit05.webp', class: 'img-fluid', style: 'width: 50px;' %>
    <p>5てん</p>
  </div>
</div>
