<!DOCTYPE html>
<html>
  <head>
    <title>くだものの森</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render 'shared/header' %>
    <main class="flex-grow-1">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
